$primary: rgb(221, 239, 255);
$secondary: rgb(38, 153, 251);

.profilePresentation {
  background-color: $primary;
  font-size: 0.9em;
  padding: 1em;
  border-radius: 2%;
  font-weight: bold;
  margin: -2.5em 0 5em 0;
}

.posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h2,
  h3 {
    font-weight: bold;
    color: $secondary;
  }

  .post-card {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 30em;
    width: 75%;
    background-image: url("https://www.american.edu/programs/shared/data-science/images/datascience-og.jpg");
    background-position: 0% 100%;
    background-size: cover;
    margin-top: 2em;
  }

  .post-text {
    background-color: white;
    border-radius: 1%;
    padding: 1.8em;
    margin: 0.2em;
    height: 30%;
    width: 100%;
  }

  .votes {
    display: flex;
    margin-top: 2em;
    p {
      margin: 0 0 0 1em;
      padding: 0.3em;
    }

    mat-icon {
      margin: 0 0.9em 0 -0.2em;
      background-color: darken($color: $secondary, $amount: 20%);
      border-radius: 100%;
      color: white;
      padding: 0.3em;
    }
  }
}

.profile-container {
  padding: 3em;
  margin-bottom: 1em;
  display: flex;

  p {
    margin-left: 1em;
  }

  .pname {
    color: $secondary;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  .plocation {
    padding-left: 0.5em;
    font-size: 1rem;
    color: black;
    font-weight: bold;
  }

  .profile-infos {
    width: 50%;
  }

  .infos {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}

img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 5px $secondary;
  background-color: $primary;
}

mat-sidenav-container {
  height: 100%;
  overflow: hidden;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $secondary;
    background: $primary;
    width: 6em;
    height: 6em;
    border-radius: 5%;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: darken($primary, 5%);
    }
  }

  .close {
    width: 2em;
    height: 2em;
  }
}

mat-sidenav-content {
  overflow: hidden;
  padding: 2em 10em 0 10em;
  height: 100%;
}

mat-sidenav {
  overflow: hidden;
  background-color: $primary;
  padding: 2em;
  width: 27.1%;
  height: 100%;
}

@media only screen and (max-device-width: 1700px) {
  /* .menu { width:100%; } */
  mat-sidenav {
      width: 40%;
  }
}

.contact-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 24.85em;
  overflow: hidden;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 10em;
  height: 10em;
  margin: 1em;
  overflow: hidden;

  img {
    width: 4em;
    height: 4em;
  }

  p {
    text-align: center;
    word-wrap: break-word;
    margin: 1em 0 0 0;
    font-size: 0.9rem;
    width: 95%;
  }

  .name {
    font-weight: bold;
    color: $secondary;
  }

  .email {
    color: $secondary;
  }
}
